.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.mat-form{
    width: 100%;
}

.wrap-btn{
    width: 50%;
    display: block;
    margin: 0px auto;
}

button{
    width: 100%;
}

.wrap{
    width: 100%;
}

span{
    color: #f13838;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}