main{
    border-radius: 10px;
    margin: 20px;
    text-align: center;

    .table-container{
        margin: 15px 0;
    }

    .actions-filters{
        button{
            margin: 0 30px;
        }
    }
}